<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
   <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar min-vh-100 ">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/teacher">
              DashBoard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/view_mygroups/{{tid}}">
              View Groups
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/view_mygroups/{{tid}}">
View 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Link 4
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Link 5
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Link 6
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background-color: DDE6ED;">
      <h1 class="text-primary p-4">View Group</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Student1 ID</th>
            <th scope="col">Student1 Name</th>
            <th scope="col">Student2 ID</th>
            <th scope="col">Student2 Name</th>
            {{!-- <th scope="col">Teacher ID</th>
            <th scope="col">Teacher Name</th> --}}
            {{!-- <th scope="col">Action</th> --}}

          </tr>
        </thead>
        <tbody>
          {{#each row}}
          <tr>
            <td>{{this.group_id}}</td>
            <td>{{this.student1_id}}</td>
            <td>{{this.student1_name}}</td>
            <td>{{this.student2_id}}</td>
            <td>{{this.student2_name}}</td>
            {{!-- <td>{{this.teacher_id}}</td>
            <td>{{this.teacher_name}}</td> --}}
            {{!-- <td>
              <a href="/delete_group/{{this.group_id}}" type="button" class="btn btn-danger btn-small"><i
                  class="bi bi-trash3-fill"></i>Delete</a>
            </td> --}}
          </tr>
          {{/each}}
        </tbody>
      </table>
  </div>
  </main>
</div>
</div>